body {
    font-family: Arial;
    margin: 40px;
}

table {
border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #333;
    color: white;
}

form {
    background-color: lightgray;
    margin-bottom: 30px;
}

input, textarea {
    width: 300px;
    padding: 8px;
}

button {
    width: 200px;
    padding: 10px 15px;
    background: #2b7cff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background: green;
    font-weight: bolder;
}